/* Global styling */
* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body 
{
    display: flex;
    /* Stacks the header, main and footer on top of each other */
    flex-direction: column;
    /* Makes sure that the footer is at the bottom of the page even if there is not enough content */
    min-height: 100vh;
}
main 
{
    flex-grow: 1;
}

header h1 a
{
    font-family: monospace;
    font-size: 36px;
}

/* Header */
header
{
    display: flex;
    /* Stops the header links from taking up the entire width of the page */
    width: fit-content;
    /* Makes the header items horizontal */
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 75vw;
}
header li
{
    /* Makes the header links horizontal */
    float: left;
    /* Gets rid of the dot at the start of each list element */
    list-style: none;
    border-style: solid;
}
header li:hover
{
    color: darkgrey;
}
header li button
{
    /* Styles the logout button so it looks consistent with the links */ 
    border-style: none;
    background: none;
    padding: 0px 5px;
    cursor: pointer;
    font-size: 15px;
}
header li button:hover
{
    color: darkgrey;
}
header a
{
    color: black;
    text-decoration: none;
    padding: 10px;
}
header a:hover
{
    color: darkgrey;
}

/* Footer */
footer
{
    height: 50px;
    margin-bottom: 0px;
    margin-left: 5px;
}
.error
{
    color: red;
    list-style: none;
}